<html>
<body>
	<h3>Clicked on Advertising Prediction Form</h3>
    <p>In online advertising, click-through rate (CTR) is a very important metric for evaluating ad performance. As a result, click prediction systems are essential and widely used for sponsored search and real-time bidding.</p>
<div>
<form action="/result" method="POST">
	<label for="age">Daily Time Spent on Site (in minutes)</label>
	<input type="text" id="time" name="time">
	<br>
	<label for="age">Age</label>
	<input type="text" id="age" name="age">
	<br>
	<label for="age">Area Income</label>
	<input type="text" id="income" name="income">
	<br>
	<label for="age">Daily Internet Usage (in minutes)</label>
	<input type="text" id="internet" name="internet">
	<br>
	<label for="w_class">Male of Female</label>
	<select id="w_class" name="w_class">
	<option value="0">Female</option>
	<option value="1">Male</option>
	</select>
	<br>
	<input type="submit" value="Submit">
</form>
</div>
</body>
</html>
